<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QRCodeCreat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A88260DD1BE09D8100D7498A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A88260F61BE09D8100D7498A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A88261011BE09D8100D7498A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
